body {
  background-color: white;
  position: absolute;
  left: 20px;
  right: 20px;
  min-width: 900px;
  height: auto;
}

h1 {
  font-family:'CMS', 'Droid Serif', Times, serif;
  font-size:300%;
  line-height:65px;
  text-align: left;
  color: black;
}

h1 {
  font-family:'CMS', 'Droid Serif', Times, serif;
  font-size:150%;
  line-height:30px;
  text-align: left;
  color: black;
}

h2 {
  font-family: 'CMS', 'Droid Serif', Times, serif;
  font-size:150%;
  line-height:20px;
  text-align: left;
  color: darkgrey;
}

p {
  font-family: 'CMS', 'Droid Serif', Times, serif;
  font-size:125%;
  line-height:30px;
  text-align: justify;
  color: black;
  max-width:850px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: dimgrey;
}
